<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head(edit)"></head>
<body>
<nav th:replace="partials/partials :: nav"></nav>
<form th:action="@{|/posts/edit/${post.id}|}" th:method="post" th:object="${post}">
	<label for="title">title</label>
	<input type="text" id="title" th:field="*{title}" th:value="post.title">
	<label for="body">body</label>
	<textarea id="body" th:field="*{body}" th:value="post.body"></textarea>
	<input type="submit">
</form>
<div th:replace="partials/partials :: scripts"></div>
</body>
</html>