<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/tailwind.css">
	<title>Document</title>
</head>
<body>
<nav th:fragment="nav">
	<ul>
		<li><a href="/">home</a></li>
		<li><a href="/posts">posts</a></li>
		<li>profile</li>
	</ul>
</nav>
<header th:fragment="header">
	This is a header
</header>
<footer th:fragment="footer">
	©2052
</footer>

</body>
</html>