<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/tailwind.css">
	<title>Document</title>
</head>
<body>
<nav th:fragment="nav" class="bg-gray-900 text-gray-200 p-2 text-lg">
	<ul class="flex">
		<li><a href="/" class="hover:text-green-300">home</a></li>
		<li><a href="/posts" class="mx-2 hover:text-green-300">posts</a></li>
		<li>
			<a href="" class="hover:text-green-300">profile</a>
		</li>
	</ul>
</nav>
<header th:fragment="header">
	This is a header
</header>
<footer th:fragment="footer">
	©2052
</footer>

</body>
</html>