<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
<form th:if="${token == null}" th:action="@{/forgot}" method="post" th:object="${user}">
	<label for="reset-email">Enter your email to reset your password</label>
	<input type="email" id="reset-email" th:field="*{email}">
	<button>Send Email</button>
</form>
<form th:if="${token != null}" th:action="@{/reset}" method="post">
	<label for="password">Enter New Password</label>
	<input type="password" id="password" name="password">
	<label for="confirm-password">Confirm New Password</label>
	<input type="password" id="confirm-password" name="confirm-password">
	<input type="hidden" th:value="${token}" name="token">
	<button>Click To reset</button>
</form>
</body>
</html>