<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head"></head>
<body>
<nav th:replace="partials/partials :: nav"></nav>
<h1>Log In</h1>
<form th:action="@{/login}" method="post">
	<label for="username">Username</label>
	<input type="text" id="username" name="username">
	<label for="password">Password</label>
	<input type="text" id="password" name="password">
	<input type="submit" value="log in">
</form>

<div th:if="${param.error}">
	Invalid Username and Password.
</div>
<div th:if="${param.logout}">
	You have been logged out.
</div>

<div th:replace="partials/partials :: scripts"></div>
</body>
</html>