@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply overflow-x-hidden
    }
}

@layer components {
    .profile-menu {
        transform-origin: top right;
        transition: transform 100ms linear, opacity 200ms linear;
    }
    .scale3d {
        opacity: 0;
        transform: scale3d(0, 0, 0);
    }
    .nav-link {
        transition: transform 200ms linear, color 200ms linear;
    }
    .nav-link:hover {
        transform: translateY(-0.125rem);
    }
    .triangle {
        transition: transform 200ms linear, opacity 200ms linear;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-bottom: 14px solid rgba(75, 85, 99);
    }
    .ad {
        @apply col-span-full bg-gray-400 shadow-lg sm:col-span-6 md:col-span-4 xl:col-span-3 p-1.5
    }
    .wrapper {
        @apply grid grid-cols-12 gap-1 mx-1
    }

    #mobile-menu {
        transition: max-height 100ms linear;
    }
    .u-section-1 {
        background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../images/pexelsphoto3393444.jpeg");
        background-position: 50% 50%;
    }

    .u-section-1 .u-sheet-1 {
        min-height: 708px;
    }

    .u-section-1 .u-text-1 {
        font-family: Ubuntu, sans-serif;
        font-size: 2.25rem;
        margin: 0 0 0 759px;
    }

    .u-section-1 .u-text-2 {
        text-transform: uppercase;
        line-height: 1.8;
        font-size: 0.875rem;
        margin: 24px 0 0 759px;
    }

    .u-section-1 .u-btn-1 {
        background-image: none;
        border-style: none none solid;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        margin: 0 0 60px auto;
        padding: 0;
    }

    @media (max-width: 1199px) {
        .u-section-1 .u-sheet-1 {
            min-height: 584px;
        }

        .u-section-1 .u-text-1 {
            margin-top: 60px;
            margin-left: 559px;
        }

        .u-section-1 .u-text-2 {
            margin-left: 559px;
        }
    }

    @media (max-width: 991px) {
        .u-section-1 .u-sheet-1 {
            min-height: 447px;
        }

        .u-section-1 .u-text-1 {
            margin-left: 339px;
        }

        .u-section-1 .u-text-2 {
            margin-left: 339px;
        }
    }

    @media (max-width: 767px) {
        .u-section-1 {
            background-size: 140%;
        }

        .u-section-1 .u-sheet-1 {
            min-height: 427px;
        }

        .u-section-1 .u-text-1 {
            width: auto;
            /*margin-top: 183px;*/
            margin-left: 559px;
            font-size: 1.5rem;
        }

        .u-section-1 .u-text-2 {
            width: auto;
            margin-left: 559px;
        }
    }

    @media (max-width: 575px) {
        .u-section-1 .u-sheet-1 {
            min-height: 370px;
        }

        .u-section-1 .u-text-1 {
            font-size: 1.5rem;
            /*margin-top: 60px;*/
            margin-left: 0;
        }

        .u-section-1 .u-text-2 {
            margin-left: 0;
        }
    }
}