<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="w-screen h-screen">
<head th:replace="partials/partials :: head(home)"></head>
<body class="w-screen h-screen">
<nav th:replace="partials/partials :: nav"></nav>
<header th:replace="partials/partials :: header"></header>
<section class="u-align-right u-clearfix u-image u-shading u-section-1 text-white" id="carousel_84db">
	<div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-valign-middle-xs u-sheet-1 mx-4 flex flex-col justify-center">
		<h2 class="u-custom-font u-font-ubuntu u-text u-text-body-alt-color u-text-1">Look <b>Deep</b> Into The Nature
		</h2>
		<p class="u-text u-text-body-alt-color u-text-2">Nature will bear the closest inspection. She invites us to lay our eye level with her smallest leaf, and take an insect view of its plain.</p>
		<a href="https://nicepage.com" class="u-active-none u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-white u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-active-white u-text-hover-white u-btn-1 self-center">learn more</a>
	</div>
</section>
<footer th:replace="partials/partials :: footer"></footer>
<div th:replace="partials/partials :: scripts"></div>
</body>
</html>