<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="w-screen h-screen">
<head th:replace="partials/partials :: head(home)"></head>
<body class="w-screen h-screen">
<nav th:replace="partials/partials :: nav"></nav>
<section class="u-align-right u-clearfix u-image u-shading u-section-1 text-white" id="carousel_84db">
	<div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-valign-middle-xs u-sheet-1 mx-12 flex flex-col justify-center items-end">
		<div class="sm:w-1/2">
			<h2 class="u-custom-font u-font-ubuntu u-text u-text-body-alt-color u-text-1 self-start">Look <b>Deep</b> Into The Nature</h2>
			<p class="u-text u-text-body-alt-color u-text-2">Nature will bear the closest inspection. She invites us to lay our eye level with her smallest leaf, and take an insect view of its plain.</p>
		</div>
		<a href="https://nicepage.com" class="u-active-none u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-white u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-active-white u-text-hover-white u-btn-1 self-center">learn more</a>
	</div>
</section>
<section class="u-align-center u-clearfix u-section-2" src="" id="carousel_c244">
	<div class="u-clearfix u-sheet u-sheet-1">
		<div class="u-clearfix u-expanded-width u-gutter-32 u-layout-wrap u-layout-wrap-1">
			<div class="u-layout">
				<div class="u-layout-row">
					<div class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-container-style u-layout-cell u-left-cell u-size-20 u-white u-layout-cell-1">
						<div class="u-container-layout u-container-layout-1">
							<img class="u-expanded-width u-image u-image-1" src="images/rf.jpg">
							<h4 class="u-text u-text-1">
								<a href="https://www.natureandforesttherapy.org/" ping="/url?sa=t&amp;source=web&amp;rct=j&amp;url=https://www.natureandforesttherapy.org/&amp;ved=2ahUKEwjj6aGaiaLpAhVMwqYKHcGrADAQFjAMegQIAhAB" ao_us_href="https://www.natureandforesttherapy.org/" style="">Forest Therapy</a>
							</h4>
						</div>
					</div>
					<div class="u-container-style u-layout-cell u-size-20 u-white u-layout-cell-2">
						<div class="u-container-layout u-valign-top u-container-layout-2">
							<img class="u-expanded-width u-image u-image-2" src="images/fds.jpg">
							<h4 class="u-text u-text-2">
								<a href="https://www.escolacatalanadesurf.com/en/7/surf-lessons-barcelona" ping="/url?sa=t&amp;source=web&amp;rct=j&amp;url=https://www.escolacatalanadesurf.com/en/7/surf-lessons-barcelona&amp;ved=2ahUKEwjLi7fcy7LoAhXux6YKHd7wAj0QtwIwD3oECAkQAQ" style="">30 Best Beaches</a>
							</h4>
						</div>
					</div>
					<div class="u-container-style u-layout-cell u-right-cell u-size-20 u-white u-layout-cell-3">
						<div class="u-container-layout u-valign-top u-container-layout-3">
							<img class="u-expanded-width u-image u-image-3" src="images/s.jpg">
							<h4 class="u-text u-text-3">Wild Nature</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<footer th:replace="partials/partials :: footer"></footer>
<div th:replace="partials/partials :: scripts"></div>
</body>
</html>